#footermenu {
    background-image: url('/assets/ravenna.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding: 10px;
}