<section class="listing">
    <a [routerLink]="['/details', stickerDetail.id]">
        <div class="sticker sticker-2">
            <div class="sticker-container">
                <div class="sticker-wrapper">
                    <div class="sticker-clip">
                        <div class="sticker-front"><img class="listing-photo" [src]="stickerDetail.sticker"
                                alt="Exterior photo of {{stickerDetail.club}}" (error)="onImgError($event)"></div>
                        <div class="sticker-back">
                            {{ stickerDetail.club }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>

</section>