<div class="panel-content">
    <div *ngIf="data?.id !== -1; else newStickerCoordinate">
        <a [routerLink]="['/details', data?.id]">
            <div class="sticker sticker-3">
                <div class="sticker-container">
                    <div class="sticker-wrapper">
                        <div class="sticker-clip">
                            <div class="sticker-front"><img class="listing-photo" [src]="data?.sticker"
                                    alt="Exterior photo of {{data?.club?.clubName }}" (error)="onImgError($event)">
                            </div>
                            <div class="sticker-back"
                                style="text-align: left; color: aliceblue; font-size: 90%; word-break: break-word;">
                                &nbsp;&nbsp;{{ data?.club?.clubName }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <p>userId: {{ data?.userId }}</p>
    </div>
    <ng-template #newStickerCoordinate>
        <!-- ステッカーを新規追加したい時に表示される内容 -->
        <h3>ステッカー新規登録</h3>
        <p style="font-size: small;">{{ this.currentAddress }}</p>
        <div class="sticker sticker-new">
            <div class="sticker-container">
                <div class="sticker-wrapper">
                    <div class="sticker-clip">
                        <div class="sticker-front">
                            <div class="sticker-new-front"><b>ADD</b></div>
                        </div>
                        <div class=" sticker-back">
                            <div class="sticker-new-back"><b>ADD</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a [routerLink]="['/putSticker']"
            [queryParams]="{ lat: coodinate.lat, lng: coodinate.lng, address: currentAddress }">
            <header class="brand-name">
                <h1>put new one!</h1>
            </header>
        </a>
    </ng-template>
</div>