html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

#headerSelections {
  background: #ffffff;
  height: 20px;
  width: 45px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  padding: 0px;
  box-sizing: border-box;
}

#stickers {
  background: #2c3e50;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  padding: 50px;
  box-sizing: border-box;
}

.sticker {
  flex: 0 0 auto;
  margin: 10px auto;
  -webkit-tap-highlight-color: transparent;
}
.sticker * {
  backface-visibility: hidden;
  pointer-events: none;
}
.sticker .sticker-container {
  position: relative;
  transform-style: preserve-3d;
}
.sticker .sticker-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.sticker .sticker-clip {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.sticker .sticker-front, .sticker-back {
  position: absolute;
  overflow: hidden;
  pointer-events: all;
}
.sticker .sticker-front {
  z-index: 1;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.sticker .sticker-back {
  z-index: 2;
}
.sticker .sticker-clip {
  transition: 500ms ease-in-out transform;
}
.sticker .sticker-front, .sticker .sticker-back {
  transition: 500ms ease-in-out transform;
}
.sticker-1 {
  width: 50px;
  height: 40px;
}
.sticker-1 .sticker-container {
  width: 64.0312423743px;
  height: 64.0312423743px;
  top: -12.0156211872px;
  left: -7.0156211872px;
  transform: rotate(0deg);
}
.sticker-1 .sticker-wrapper {
  width: 64.0312423743px;
  height: 64.0312423743px;
  transform: rotate(-45deg);
}
.sticker-1 .sticker-clip {
  width: 64.0312423743px;
  height: 64.0312423743px;
}
.sticker-1 .sticker-front, .sticker-1 .sticker-back {
  left: 7.0156211872px;
  top: 12.0156211872px;
  width: 50px;
  height: 40px;
  border-radius: 0;
}
.sticker-1 .sticker-clip {
  transform: translateX(0.198024112px);
}
.sticker-1 .sticker-front {
  transform: rotate(45deg) translateX(-0.1400241924px) translateY(0.1400241924px);
}
.sticker-1 .sticker-back {
  transform: rotate(135deg) translateX(45.1369014983px) translateY(45.1369014983px);
}
.sticker-1:hover .sticker-clip {
  transform: translateX(25.6521017721px);
}
.sticker-1:hover .sticker-front {
  transform: rotate(45deg) translateX(-18.1387751148px) translateY(18.1387751148px);
}
.sticker-1:hover .sticker-back {
  transform: rotate(135deg) translateX(27.1381505759px) translateY(27.1381505759px);
}
.sticker-1 .sticker-front {
  background-color: #2ecc71;
}
.sticker-1 .sticker-back {
  background-color: #27ae60;
}
.sticker-2 {
  width: 280px;
  height: 270px;
}
.sticker-2 .sticker-container {
  width: 393.014768476px;
  height: 393.014768476px;
  top: -61.507384238px;
  left: -56.507384238px;
  transform: rotate(0deg);
}
.sticker-2 .sticker-wrapper {
  width: 393.014768476px;
  height: 393.014768476px;
  transform: rotate(-35deg);
}
.sticker-2 .sticker-clip {
  width: 393.014768476px;
  height: 393.014768476px;
}
.sticker-2 .sticker-front, .sticker-2 .sticker-back {
  left: 56.507384238px;
  top: 61.507384238px;
  width: 280px;
  height: 270px;
  border-radius: 10px;
}
.sticker-2 .sticker-clip {
  transform: translateX(6.2694740069px);
}
.sticker-2 .sticker-front {
  transform: rotate(35deg) translateX(-5.1356524494px) translateY(3.5960225587px);
}
.sticker-2 .sticker-back {
  transform: rotate(145deg) translateX(316.8031985833px) translateY(221.8279877771px);
}
.sticker-2:hover .sticker-clip {
  transform: translateX(158.4598021918px);
}
.sticker-2:hover .sticker-front {
  transform: rotate(35deg) translateX(-129.802670903px) translateY(90.8888086461px);
}
.sticker-2:hover .sticker-back {
  transform: rotate(145deg) translateX(192.1361801297px) translateY(134.5352016897px);
}
.sticker-2 .sticker-front {
  background-color: #ffffff;
}
.sticker-2 .sticker-back {
  background-color: #666666;
}
.sticker-3 {
  width: 270px;
  height: 290px;
}
.sticker-3 .sticker-container {
  width: 400.7687709091px;
  height: 400.7687709091px;
  top: -55.3843854546px;
  left: -65.3843854546px;
  transform: rotate(0deg);
}
.sticker-3 .sticker-wrapper {
  width: 400.7687709091px;
  height: 400.7687709091px;
  transform: rotate(-30deg);
}
.sticker-3 .sticker-clip {
  width: 400.7687709091px;
  height: 400.7687709091px;
}
.sticker-3 .sticker-front, .sticker-3 .sticker-back {
  left: 65.3843854546px;
  top: 55.3843854546px;
  width: 270px;
  height: 290px;
  border-radius: 0px;
}
.sticker-3 .sticker-clip {
  transform: translateX(8.8329076519px);
}
.sticker-3 .sticker-front {
  transform: rotate(30deg) translateX(-7.6495224159px) translateY(4.416453826px);
}
.sticker-3 .sticker-back {
  transform: rotate(150deg) translateX(339.4264142344px) translateY(195.9679316286px);
}
.sticker-3:hover .sticker-clip {
  transform: translateX(162.074089894px);
}
.sticker-3:hover .sticker-front {
  transform: rotate(30deg) translateX(-140.3602791435px) translateY(81.037044947px);
}
.sticker-3:hover .sticker-back {
  transform: rotate(150deg) translateX(206.715657507px) translateY(119.3473405075px);
}
.sticker-3 .sticker-front {
  background-color: #c6c6c6;
}
.sticker-3 .sticker-back {
  background-color: #ffffff;
}
.sticker-4 {
  width: 300px;
  height: 290px;
}
.sticker-4 .sticker-container {
  width: 423.4616037809px;
  height: 423.4616037809px;
  top: -66.7308018904px;
  left: -61.7308018904px;
  transform: rotate(0deg);
}
.sticker-4 .sticker-wrapper {
  width: 423.4616037809px;
  height: 423.4616037809px;
  transform: rotate(-30deg);
}
.sticker-4 .sticker-clip {
  width: 423.4616037809px;
  height: 423.4616037809px;
}
.sticker-4 .sticker-front, .sticker-4 .sticker-back {
  left: 61.7308018904px;
  top: 66.7308018904px;
  width: 300px;
  height: 290px;
  border-radius: 15px;
}
.sticker-4 .sticker-clip {
  transform: translateX(11.6620860769px);
}
.sticker-4 .sticker-front {
  transform: rotate(30deg) translateX(-10.0996628037px) translateY(5.8310430384px);
}
.sticker-4 .sticker-back {
  transform: rotate(150deg) translateX(356.6288435973px) translateY(205.899758852px);
}
.sticker-4:hover .sticker-clip {
  transform: translateX(171.7170587277px);
}
.sticker-4:hover .sticker-front {
  transform: rotate(30deg) translateX(-148.7113351214px) translateY(85.8585293639px);
}
.sticker-4:hover .sticker-back {
  transform: rotate(150deg) translateX(218.0171712799px) translateY(125.8722725266px);
}
.sticker-4 .sticker-front {
  background-color: #e74c3c;
}
.sticker-4 .sticker-back {
  background-color: #c0392b;
}
.sticker-5 {
  width: 300px;
  height: 300px;
}
.sticker-5 .sticker-container {
  width: 431.1147851933px;
  height: 431.1147851933px;
  top: -65.5573925966px;
  left: -65.5573925966px;
  transform: rotate(0deg);
}
.sticker-5 .sticker-wrapper {
  width: 431.1147851933px;
  height: 431.1147851933px;
  transform: rotate(-20deg);
}
.sticker-5 .sticker-clip {
  width: 431.1147851933px;
  height: 431.1147851933px;
}
.sticker-5 .sticker-front, .sticker-5 .sticker-back {
  left: 65.5573925966px;
  top: 65.5573925966px;
  width: 300px;
  height: 300px;
  border-radius: 150px;
}
.sticker-5 .sticker-clip {
  transform: translateX(60.0592111787px);
}
.sticker-5 .sticker-front {
  transform: rotate(20deg) translateX(-56.4371975548px) translateY(20.5414600154px);
}
.sticker-5 .sticker-back {
  transform: rotate(160deg) translateX(348.6781848009px) translateY(126.9084806064px);
}
.sticker-5:hover .sticker-clip {
  transform: translateX(184.457756313px);
}
.sticker-5:hover .sticker-front {
  transform: rotate(20deg) translateX(-173.3335924541px) translateY(63.0882682517px);
}
.sticker-5:hover .sticker-back {
  transform: rotate(160deg) translateX(231.7817899023px) translateY(84.36167237px);
}
.sticker-5 .sticker-front {
  background-color: #1abc9c;
}
.sticker-5 .sticker-back {
  background-color: #16a085;
}
.sticker-6 {
  width: 266px;
  height: 278px;
}
.sticker-6 .sticker-container {
  width: 388.5325570714px;
  height: 388.5325570714px;
  top: -55.2662785357px;
  left: -61.2662785357px;
  transform: rotate(0deg);
}
.sticker-6 .sticker-wrapper {
  width: 388.5325570714px;
  height: 388.5325570714px;
  transform: rotate(-10deg);
}
.sticker-6 .sticker-clip {
  width: 388.5325570714px;
  height: 388.5325570714px;
}
.sticker-6 .sticker-front, .sticker-6 .sticker-back {
  left: 61.2662785357px;
  top: 55.2662785357px;
  width: 266px;
  height: 278px;
  border-radius: 20px;
}
.sticker-6 .sticker-clip {
  transform: translateX(40.5334250454px);
}
.sticker-6 .sticker-front {
  transform: rotate(10deg) translateX(-39.9176312409px) translateY(7.0385553937px);
}
.sticker-6 .sticker-back {
  transform: rotate(170deg) translateX(342.7122432532px) translateY(60.4294151069px);
}
.sticker-6:hover .sticker-clip {
  transform: translateX(163.5197078377px);
}
.sticker-6:hover .sticker-front {
  transform: rotate(10deg) translateX(-161.0354760488px) translateY(28.3948992786px);
}
.sticker-6:hover .sticker-back {
  transform: rotate(170deg) translateX(221.5943984479px) translateY(39.0730712217px);
}
.sticker-6 .sticker-front {
  background-color: #f1c40f;
}
.sticker-6 .sticker-back {
  background-color: #f39c12;
}
.sticker-top-1 {
  width: 200px;
  height: 200px;
}
.sticker-top-1 .sticker-container {
  width: 283.2484501372px;
  height: 283.2484501372px;
  top: -41.6242250686px;
  left: -41.6242250686px;
  transform: rotate(0deg);
}
.sticker-top-1 .sticker-wrapper {
  width: 283.2484501372px;
  height: 283.2484501372px;
  transform: rotate(5deg);
}
.sticker-top-1 .sticker-clip {
  width: 283.2484501372px;
  height: 283.2484501372px;
}
.sticker-top-1 .sticker-front, .sticker-top-1 .sticker-back {
  left: 41.6242250686px;
  top: 41.6242250686px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.sticker-top-1 .sticker-clip {
  transform: translateX(40.2520011723px);
}
.sticker-top-1 .sticker-front {
  transform: rotate(-5deg) translateX(-40.0988301555px) translateY(-3.5081930593px);
}
.sticker-top-1 .sticker-back {
  transform: rotate(185deg) translateX(242.0717740803px) translateY(-21.1785359899px);
}
.sticker-top-1:hover .sticker-clip {
  transform: translateX(222.7220041856px);
}
.sticker-top-1:hover .sticker-front {
  transform: rotate(-5deg) translateX(-221.8744797181px) translateY(-19.411501701px);
}
.sticker-top-1:hover .sticker-back {
  transform: rotate(185deg) translateX(60.2961245429px) translateY(-5.2752273516px);
}
.sticker-top-1 .sticker-front {
  background-color: #ffffff;
}
.sticker-top-1 .sticker-back {
  background-color: #353535;
}
.sticker-top-warning {
  width: 100px;
  height: 100px;
}
.sticker-top-warning .sticker-container {
  width: 141.4215015102px;
  height: 141.4215015102px;
  top: -20.7107507551px;
  left: -20.7107507551px;
  transform: rotate(0deg);
}
.sticker-top-warning .sticker-wrapper {
  width: 141.4215015102px;
  height: 141.4215015102px;
  transform: rotate(5deg);
}
.sticker-top-warning .sticker-clip {
  width: 141.4215015102px;
  height: 141.4215015102px;
}
.sticker-top-warning .sticker-front, .sticker-top-warning .sticker-back {
  left: 20.7107507551px;
  top: 20.7107507551px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.sticker-top-warning .sticker-clip {
  transform: translateX(20.1023397667px);
}
.sticker-top-warning .sticker-front {
  transform: rotate(-5deg) translateX(-20.0258442948px) translateY(-1.7520343533px);
}
.sticker-top-warning .sticker-back {
  transform: rotate(185deg) translateX(120.857505689px) translateY(-10.5736616489px);
}
.sticker-top-warning:hover .sticker-clip {
  transform: translateX(111.1974795458px);
}
.sticker-top-warning:hover .sticker-front {
  transform: rotate(-5deg) translateX(-110.7743395647px) translateY(-9.6914989215px);
}
.sticker-top-warning:hover .sticker-back {
  transform: rotate(185deg) translateX(30.1090104317px) translateY(-2.6341970825px);
}
.sticker-top-warning .sticker-front {
  background-color: #a50000;
}
.sticker-top-warning .sticker-back {
  background-color: #710000;
}

.road-background {
  background-image: url("/assets/brick-wall.png");
  padding: 100px;
  margin: auto;
  text-align: center;
  color: white;
}

.warning-background {
  background-color: black;
  padding: 50px 20%;
  margin: auto;
  text-align: center;
  color: #cacaca;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.warning-background > div:last-child {
  flex: 2;
  padding: 10px;
}

.sticker-text-front-large {
  color: black;
  text-align: center;
  height: 200px;
  line-height: 200px;
}

.sticker-text-back-large {
  color: white;
  text-align: center;
  height: 200px;
  line-height: 200px;
  transform: rotate(180deg);
}

.sticker-text-front-warning {
  color: white;
  text-align: center;
  height: 100px;
  line-height: 100px;
}

.sticker-text-back-warning {
  color: white;
  text-align: center;
  height: 100px;
  line-height: 100px;
  transform: rotate(180deg);
}

/*# sourceMappingURL=sticker.css.map */
