html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

#headerSelections {
  background: #ffffff;
  height: 20px;
  width: 45px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  padding: 0px;
  box-sizing: border-box;
}

#stickers {
  background: #2c3e50;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  padding: 50px;
  box-sizing: border-box;
}

.sticker {
  flex: 0 0 auto;
  margin: 10px auto;
  -webkit-tap-highlight-color: transparent;
}
.sticker * {
  backface-visibility: hidden;
  pointer-events: none;
}
.sticker .sticker-container {
  position: relative;
  transform-style: preserve-3d;
}
.sticker .sticker-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.sticker .sticker-clip {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.sticker .sticker-front, .sticker-back {
  position: absolute;
  overflow: hidden;
  pointer-events: all;
}
.sticker .sticker-front {
  z-index: 1;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.sticker .sticker-back {
  z-index: 2;
}
.sticker .sticker-clip {
  transition: 500ms ease-in-out transform;
}
.sticker .sticker-front, .sticker .sticker-back {
  transition: 500ms ease-in-out transform;
}
.sticker-1 {
  width: 300px;
  height: 300px;
}
.sticker-1 .sticker-container {
  width: 431.1147851933px;
  height: 431.1147851933px;
  top: -65.5573925966px;
  left: -65.5573925966px;
  transform: rotate(0deg);
}
.sticker-1 .sticker-wrapper {
  width: 431.1147851933px;
  height: 431.1147851933px;
  transform: rotate(-20deg);
}
.sticker-1 .sticker-clip {
  width: 431.1147851933px;
  height: 431.1147851933px;
}
.sticker-1 .sticker-front, .sticker-1 .sticker-back {
  left: 65.5573925966px;
  top: 65.5573925966px;
  width: 300px;
  height: 300px;
  border-radius: 150px;
}
.sticker-1 .sticker-clip {
  transform: translateX(60.0592111787px);
}
.sticker-1 .sticker-front {
  transform: rotate(20deg) translateX(-56.4371975548px) translateY(20.5414600154px);
}
.sticker-1 .sticker-back {
  transform: rotate(160deg) translateX(348.6781848009px) translateY(126.9084806064px);
}
.sticker-1:hover .sticker-clip {
  transform: translateX(184.457756313px);
}
.sticker-1:hover .sticker-front {
  transform: rotate(20deg) translateX(-173.3335924541px) translateY(63.0882682517px);
}
.sticker-1:hover .sticker-back {
  transform: rotate(160deg) translateX(231.7817899023px) translateY(84.36167237px);
}
.sticker-1 .sticker-front {
  background-color: #1abc9c;
}
.sticker-1 .sticker-back {
  background-color: #16a085;
}
.sticker-2 {
  width: 280px;
  height: 270px;
}
.sticker-2 .sticker-container {
  width: 393.014768476px;
  height: 393.014768476px;
  top: -61.507384238px;
  left: -56.507384238px;
  transform: rotate(0deg);
}
.sticker-2 .sticker-wrapper {
  width: 393.014768476px;
  height: 393.014768476px;
  transform: rotate(-35deg);
}
.sticker-2 .sticker-clip {
  width: 393.014768476px;
  height: 393.014768476px;
}
.sticker-2 .sticker-front, .sticker-2 .sticker-back {
  left: 56.507384238px;
  top: 61.507384238px;
  width: 280px;
  height: 270px;
  border-radius: 10px;
}
.sticker-2 .sticker-clip {
  transform: translateX(6.2694740069px);
}
.sticker-2 .sticker-front {
  transform: rotate(35deg) translateX(-5.1356524494px) translateY(3.5960225587px);
}
.sticker-2 .sticker-back {
  transform: rotate(145deg) translateX(316.8031985833px) translateY(221.8279877771px);
}
.sticker-2:hover .sticker-clip {
  transform: translateX(158.4598021918px);
}
.sticker-2:hover .sticker-front {
  transform: rotate(35deg) translateX(-129.802670903px) translateY(90.8888086461px);
}
.sticker-2:hover .sticker-back {
  transform: rotate(145deg) translateX(192.1361801297px) translateY(134.5352016897px);
}
.sticker-2 .sticker-front {
  background-color: #ffffff;
}
.sticker-2 .sticker-back {
  background-color: #666666;
}
.sticker-small-white {
  width: 50px;
  height: 50px;
}
.sticker-small-white .sticker-container {
  width: 70.7106781187px;
  height: 70.7106781187px;
  top: -10.3553390593px;
  left: -10.3553390593px;
  transform: rotate(0deg);
}
.sticker-small-white .sticker-wrapper {
  width: 70.7106781187px;
  height: 70.7106781187px;
  transform: rotate(5deg);
}
.sticker-small-white .sticker-clip {
  width: 70.7106781187px;
  height: 70.7106781187px;
}
.sticker-small-white .sticker-front, .sticker-small-white .sticker-back {
  left: 10.3553390593px;
  top: 10.3553390593px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.sticker-small-white .sticker-clip {
  transform: translateX(10.0511614056px);
}
.sticker-small-white .sticker-front {
  transform: rotate(-5deg) translateX(-10.0129137019px) translateY(-0.8760164378px);
}
.sticker-small-white .sticker-back {
  transform: rotate(185deg) translateX(60.42868893px) translateY(-5.2868252327px);
}
.sticker-small-white:hover .sticker-clip {
  transform: translateX(55.5986811823px);
}
.sticker-small-white:hover .sticker-front {
  transform: rotate(-5deg) translateX(-55.3871114147px) translateY(-4.8457443542px);
}
.sticker-small-white:hover .sticker-back {
  transform: rotate(185deg) translateX(15.0544912235px) translateY(-1.3170973171px);
}
.sticker-small-white .sticker-front {
  background-color: #ffffff;
}
.sticker-small-white .sticker-back {
  background-color: #353535;
}
.sticker-medium-white {
  width: 100px;
  height: 100px;
}
.sticker-medium-white .sticker-container {
  width: 141.4215015102px;
  height: 141.4215015102px;
  top: -20.7107507551px;
  left: -20.7107507551px;
  transform: rotate(0deg);
}
.sticker-medium-white .sticker-wrapper {
  width: 141.4215015102px;
  height: 141.4215015102px;
  transform: rotate(5deg);
}
.sticker-medium-white .sticker-clip {
  width: 141.4215015102px;
  height: 141.4215015102px;
}
.sticker-medium-white .sticker-front, .sticker-medium-white .sticker-back {
  left: 20.7107507551px;
  top: 20.7107507551px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.sticker-medium-white .sticker-clip {
  transform: translateX(20.1023397667px);
}
.sticker-medium-white .sticker-front {
  transform: rotate(-5deg) translateX(-20.0258442948px) translateY(-1.7520343533px);
}
.sticker-medium-white .sticker-back {
  transform: rotate(185deg) translateX(120.857505689px) translateY(-10.5736616489px);
}
.sticker-medium-white:hover .sticker-clip {
  transform: translateX(111.1974795458px);
}
.sticker-medium-white:hover .sticker-front {
  transform: rotate(-5deg) translateX(-110.7743395647px) translateY(-9.6914989215px);
}
.sticker-medium-white:hover .sticker-back {
  transform: rotate(185deg) translateX(30.1090104317px) translateY(-2.6341970825px);
}
.sticker-medium-white .sticker-front {
  background-color: #ffffff;
}
.sticker-medium-white .sticker-back {
  background-color: #353535;
}
.sticker-top-1 {
  width: 200px;
  height: 200px;
}
.sticker-top-1 .sticker-container {
  width: 283.2484501372px;
  height: 283.2484501372px;
  top: -41.6242250686px;
  left: -41.6242250686px;
  transform: rotate(0deg);
}
.sticker-top-1 .sticker-wrapper {
  width: 283.2484501372px;
  height: 283.2484501372px;
  transform: rotate(5deg);
}
.sticker-top-1 .sticker-clip {
  width: 283.2484501372px;
  height: 283.2484501372px;
}
.sticker-top-1 .sticker-front, .sticker-top-1 .sticker-back {
  left: 41.6242250686px;
  top: 41.6242250686px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.sticker-top-1 .sticker-clip {
  transform: translateX(40.2520011723px);
}
.sticker-top-1 .sticker-front {
  transform: rotate(-5deg) translateX(-40.0988301555px) translateY(-3.5081930593px);
}
.sticker-top-1 .sticker-back {
  transform: rotate(185deg) translateX(242.0717740803px) translateY(-21.1785359899px);
}
.sticker-top-1:hover .sticker-clip {
  transform: translateX(222.7220041856px);
}
.sticker-top-1:hover .sticker-front {
  transform: rotate(-5deg) translateX(-221.8744797181px) translateY(-19.411501701px);
}
.sticker-top-1:hover .sticker-back {
  transform: rotate(185deg) translateX(60.2961245429px) translateY(-5.2752273516px);
}
.sticker-top-1 .sticker-front {
  background-color: #ffffff;
}
.sticker-top-1 .sticker-back {
  background-color: #353535;
}
.sticker-top-warning {
  width: 100px;
  height: 100px;
}
.sticker-top-warning .sticker-container {
  width: 141.4215015102px;
  height: 141.4215015102px;
  top: -20.7107507551px;
  left: -20.7107507551px;
  transform: rotate(0deg);
}
.sticker-top-warning .sticker-wrapper {
  width: 141.4215015102px;
  height: 141.4215015102px;
  transform: rotate(5deg);
}
.sticker-top-warning .sticker-clip {
  width: 141.4215015102px;
  height: 141.4215015102px;
}
.sticker-top-warning .sticker-front, .sticker-top-warning .sticker-back {
  left: 20.7107507551px;
  top: 20.7107507551px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.sticker-top-warning .sticker-clip {
  transform: translateX(20.1023397667px);
}
.sticker-top-warning .sticker-front {
  transform: rotate(-5deg) translateX(-20.0258442948px) translateY(-1.7520343533px);
}
.sticker-top-warning .sticker-back {
  transform: rotate(185deg) translateX(120.857505689px) translateY(-10.5736616489px);
}
.sticker-top-warning:hover .sticker-clip {
  transform: translateX(111.1974795458px);
}
.sticker-top-warning:hover .sticker-front {
  transform: rotate(-5deg) translateX(-110.7743395647px) translateY(-9.6914989215px);
}
.sticker-top-warning:hover .sticker-back {
  transform: rotate(185deg) translateX(30.1090104317px) translateY(-2.6341970825px);
}
.sticker-top-warning .sticker-front {
  background-color: #a50000;
}
.sticker-top-warning .sticker-back {
  background-color: #710000;
}
.sticker-header-button {
  width: 70px;
  height: 70px;
}
.sticker-header-button .sticker-container {
  width: 98.9949495711px;
  height: 98.9949495711px;
  top: -14.4974747855px;
  left: -14.4974747855px;
  transform: rotate(0deg);
}
.sticker-header-button .sticker-wrapper {
  width: 98.9949495711px;
  height: 98.9949495711px;
  transform: rotate(145deg);
}
.sticker-header-button .sticker-clip {
  width: 98.9949495711px;
  height: 98.9949495711px;
}
.sticker-header-button .sticker-front, .sticker-header-button .sticker-back {
  left: 14.4974747855px;
  top: 14.4974747855px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
}
.sticker-header-button .sticker-clip {
  transform: translateX(14.3681251798px);
}
.sticker-header-button .sticker-front {
  transform: rotate(-145deg) translateX(11.7696791136px) translateY(-8.2412180377px);
}
.sticker-header-button .sticker-back {
  transform: rotate(325deg) translateX(-69.3249568322px) translateY(-48.5392783588px);
}
.sticker-header-button:hover .sticker-clip {
  transform: translateX(42.4716048644px);
}
.sticker-header-button:hover .sticker-front {
  transform: rotate(-145deg) translateX(34.7907019489px) translateY(-24.3607117642px);
}
.sticker-header-button:hover .sticker-back {
  transform: rotate(325deg) translateX(-46.3030305106px) translateY(-32.4200084574px);
}
.sticker-header-button .sticker-front {
  background-color: #323232;
}
.sticker-header-button .sticker-back {
  background-color: #f2f1e9;
}

.sticker-text-front-large {
  color: black;
  text-align: center;
  height: 200px;
  line-height: 200px;
}

.sticker-text-back-large {
  color: white;
  text-align: center;
  height: 200px;
  line-height: 200px;
  transform: rotate(180deg);
}

.sticker-text-front-warning {
  color: white;
  text-align: center;
  height: 100px;
  line-height: 100px;
}

.sticker-text-back-warning {
  color: white;
  text-align: center;
  height: 100px;
  line-height: 100px;
  transform: rotate(180deg);
}

.sticker-text-front-small-white {
  color: black;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.sticker-text-back-small-white {
  color: white;
  text-align: center;
  height: 50px;
  line-height: 50px;
  transform: rotate(180deg);
}

.sticker-text-front-medium-white {
  color: black;
  text-align: center;
  height: 100px;
  line-height: 100px;
}

.sticker-text-back-medium-white {
  color: white;
  text-align: center;
  height: 100px;
  line-height: 100px;
  transform: rotate(180deg);
}

.sticker-text-front-header-button {
  font-size: 120%;
  color: white;
  text-align: center;
  height: 70px;
  line-height: 70px;
}

.sticker-text-back-header-button {
  color: white;
  text-align: center;
  height: 100px;
  line-height: 70px;
  transform: rotate(180deg);
}

/*# sourceMappingURL=sticker.css.map */
