<app-image-slider></app-image-slider>

<div id="stickers">
    <h1>ようこそUltraStickersへ</h1>
    <div class="sticker sticker-1">
        <div class="sticker-container">
            <div class="sticker-wrapper">
                <div class="sticker-clip">
                    <div class="sticker-front">
                        <img *ngFor="let slide of test; let i = index" [src]="slide.url" [alt]="slide.title" />
                    </div>
                    <div class="sticker-back"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="sticker sticker-2">
        <div class="sticker-container">
            <div class="sticker-wrapper">
                <div class="sticker-clip">
                    <div class="sticker-front"></div>
                    <div class="sticker-back"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="sticker sticker-3">
        <div class="sticker-container">
            <div class="sticker-wrapper">
                <div class="sticker-clip">
                    <div class="sticker-front"></div>
                    <div class="sticker-back"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="sticker sticker-4">
        <div class="sticker-container">
            <div class="sticker-wrapper">
                <div class="sticker-clip">
                    <div class="sticker-front"></div>
                    <div class="sticker-back"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="sticker sticker-5">
        <div class="sticker-container">
            <div class="sticker-wrapper">
                <div class="sticker-clip">
                    <div class="sticker-front"></div>
                    <div class="sticker-back"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="sticker sticker-6">
        <div class="sticker-container">
            <div class="sticker-wrapper">
                <div class="sticker-clip">
                    <div class="sticker-front"></div>
                    <div class="sticker-back"></div>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="Awesome" class="anim750">

    <div class="reveal circle_wrapper">
        <div class="circle">Hello!</div>
    </div>

    <div class="sticky anim750">
        <div class="front circle_wrapper anim750">
            <div class="circle anim750"></div>
        </div>
    </div>

    <h4>Peel Me!</h4>

    <div class="sticky anim750">
        <div class="back circle_wrapper anim750">
            <div class="circle anim750"></div>
        </div>
    </div>



</div>