<div>
    <div id="block-null">
        <app-image-slider></app-image-slider>
    </div>

    <div id="block-eins">
        <div class="sticker sticker-top-1">
            <div class="sticker-container">
                <div class="sticker-wrapper">
                    <div class="sticker-clip">
                        <div class="sticker-front">
                            <div class="sticker-text-front-large">Welcome to</div>
                        </div>
                        <div class=" sticker-back">
                            <div class="sticker-text-back-large">UltraSticker</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h2>街中にあるステッカーを共有して、世界を旅するUltrasの痕跡を記録しよう</h2>
        <br>
        <p>街中に溢れるステッカーたち。</p>
        <p>その中には、Ultrasが彼らの存在を示すために残していったUltrasStickerが紛れ込んでいる。</p>
        <p>どこのUltrasがどこまで支配領域を広げているのかを調査するためにこのサイトは生まれました。</p>
        <br>
    </div>
    <div id="block-zwei">
        <div class="sticker sticker-top-warning">
            <div class="sticker-container">
                <div class="sticker-wrapper">
                    <div class="sticker-clip">
                        <div class="sticker-front">
                            <div class="sticker-text-front-warning">警告</div>
                        </div>
                        <div class=" sticker-back">
                            <div class="sticker-text-back-warning">Warning</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p>他人の持ち物に無断でステッカーを貼る行為は、軽犯罪法や器物損壊罪に該当する可能性があります。<br>特に、道路標識や電柱など、公的な場所への貼り付けは、一般的に禁止されており、違反となる可能性があります。
            </p>
        </div>
    </div>
    <div id="block-drei">
        <div id="how-to">
            <h1>何をしようか</h1>
            <br>
            <div id="steps">
                <div id="step-eins" class="animatable">
                    <div class="sticker sticker-small-white">
                        <div class="sticker-container">
                            <div class="sticker-wrapper">
                                <div class="sticker-clip">
                                    <div class="sticker-front">
                                        <div class="sticker-text-front-small-white">#1</div>
                                    </div>
                                    <div class=" sticker-back">
                                        <div class="sticker-text-back-small-white">#1</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        <h3>Effect 2</h3>
                    </div>
                </div>
                <div id="step-zwei wrapper">
                    <div class="sticker sticker-small-white">
                        <div class="sticker-container">
                            <div class="sticker-wrapper">
                                <div class="sticker-clip">
                                    <div class="sticker-front">
                                        <div class="sticker-text-front-small-white">#2</div>
                                    </div>
                                    <div class=" sticker-back">
                                        <div class="sticker-text-back-small-white">#2</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="explaination animatable moveUp">
                        <h3>Effect 2</h3>
                    </div>
                </div>
                <div id="step-drei">
                    <div class="sticker sticker-small-white">
                        <div class="sticker-container">
                            <div class="sticker-wrapper">
                                <div class="sticker-clip">
                                    <div class="sticker-front">
                                        <div class="sticker-text-front-small-white">#3</div>
                                    </div>
                                    <div class=" sticker-back">
                                        <div class="sticker-text-back-small-white">#3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        <h3>Effect 2</h3>
                        <p><br></p><br><br><br><br><br><br>
                    </div>
                </div>
            </div>


        </div>
        <div id="user">
            <div class="box effect2">
                <h3>Effect 2</h3>
            </div>
        </div>
    </div>
</div>