article {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  /* 任意：左右の間隔 */
  align-items: flex-start;
  margin: 2rem;
}

#right {
  flex: 1;
  min-width: 0;
}

#left {
  position: sticky;
  top: 40px;
  /* 固定開始位置（ヘッダーなどの高さがあれば調整） */
  flex: 0 0 30%;
  /* 幅を固定（例: 300px） */
  height: fit-content;
}

.listing-photo {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.listing-heading {
  font-size: 48pt;
  font-weight: bold;
  margin-bottom: 15px;
}


.listing-location {
  font-size: 24pt;
  margin-bottom: 15px;
}

.listing-features>.section-heading {
  color: var(--secondary-color);
  font-size: 24pt;
  margin-bottom: 15px;
}

.listing-features {
  margin-bottom: 20px;
}

.listing-features li {
  font-size: 14pt;
}

li {
  list-style-type: none;
}

.listing-apply .section-heading {
  font-size: 18pt;
  margin-bottom: 15px;
}

label,
input {
  display: block;
}

label {
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
}

input {
  font-size: 16pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid .3px;
}

.comment-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #fff;
}

.reply-box {
  margin-left: 30px;
  background-color: #f9f9f9;
}

.comment-header {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 5px;
}

.timestamp {
  font-size: 0.75rem;
  color: #999;
}

.comment-content {
  font-size: 1rem;
  margin-bottom: 10px;
}

.comment-actions {
  display: flex;
  gap: 8px;
}


@media (max-width: 768px) {
  article {
    flex-direction: column;
  }

  #right {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.sticker {
  width: 180px;
  height: 180px;
}

.example-1 .sticker-img {
  background-color: #272f66;
}

.example-2 .sticker-img {
  background-color: #ff4a85;
}

.example-2 .sticker-shadow {
  opacity: 0.6;
}