<p>Put new Sticker!!</p>
<form #form=ngForm (ngSubmit)="onSubmit(form)">
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>国</mat-label>
            <mat-select [(ngModel)]="stickerDetail.countryId" name="countryId"
                (selectionChange)="onCountryChange($event.value)">
                <mat-option *ngFor="let country of countries" [value]="country.countryId">
                    {{ country.countryName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" *ngIf="filteredLeagues.length">
            <mat-label>リーグ</mat-label>
            <mat-select [(ngModel)]="stickerDetail.leagueId" name="leagueId"
                (selectionChange)="onLeagueChange($event.value)">
                <mat-option *ngFor="let league of filteredLeagues" [value]="league.leagueId">
                    {{ league.leagueName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" *ngIf="filteredClubs.length">
            <mat-label>クラブ</mat-label>
            <mat-select [(ngModel)]="stickerDetail.clubId" name="clubId">
                <mat-option *ngFor="let club of filteredClubs" [value]="club.clubId">
                    {{ club.clubName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width">
            <mat-label>見つけた街はどこ？</mat-label>
            <input matInput placeholder="??" type="text" name="address" [(ngModel)]="stickerDetail.address">
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button="elevated" type="button" (click)="getCurrentLocation()">Get Your Location</button>
    </div>
    <br>
    <div>
        <p>緯度: {{ currentCoordinate.lat || '未取得' }}</p>
        <p>経度: {{ currentCoordinate.lng || '未取得' }}</p>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>綺麗だった？</mat-label>
            <input matInput placeholder="??" type="text" name="isClean" [(ngModel)]="stickerDetail.isClean">
        </mat-form-field>
    </div>
    <input type="file" id="uploadFile" (change)="fileChoosen($event, fileUpload.files)" class="file-input" #fileUpload>
    <div class="file-upload">
        {{fileName || "No file uploaded yet."}}
        <!-- <button type="button" mat-mini-fab (click)="putNewSticker(club.value, fileUpload.files)">upload</button> -->
        <button type="submit">Submit</button>
    </div>
</form>