<section class="listing">
    <a [routerLink]="['/details', stickerDetail.id]">
        <div class="sticker" [ngClass]="stickerDetail.class">
            <div class="sticker-container">
                <div class="sticker-wrapper">
                    <div class="sticker-clip">
                        <div class="sticker-front"><img class="listing-photo" [src]="stickerDetail.sticker"
                                alt="Exterior photo of {{stickerDetail.clubId}}" (error)="onImgError($event)"></div>
                        <div class="sticker-back" style="word-break: break-word; color: #f5f2ee;">
                            &nbsp;&nbsp;{{ clubName.get(stickerDetail.clubId)?.clubName }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</section>