<header>
    <a [routerLink]="['/']">
        <header class="brand-name">
            <div class="sticker sticker-3">
                <div class="sticker-container">
                    <div class="sticker-wrapper">
                        <div class="sticker-clip">
                            <div class="sticker-front" style="color: black;">hello</div>
                            <div class="sticker-back"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </a>
    <a [routerLink]="['/allStickers']">
        <header class="brand-name">
            <h1>Sticker</h1>
        </header>
    </a>
    <a [routerLink]="['/putSticker']">
        <header class="brand-name">
            <h1>put new one!</h1>
        </header>
    </a>
</header>