<header>
    <a [routerLink]="['/']">
        <header class="brand-name">
            <h1>Top</h1>
        </header>
    </a>
    <a [routerLink]="['/allStickers']">
        <header class="brand-name">
            <h1>Sticker</h1>
        </header>
    </a>
    <a [routerLink]="['/map']">
        <header class="brand-name">
            <h1>Map</h1>
        </header>
    </a>
    <a [routerLink]="['/putSticker']">
        <header class="brand-name">
            <h1>put new one!</h1>
        </header>
    </a>
</header>