header {
    display: block;
    height: 110px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #ffffff86; */
}

a {
    text-decoration: none;
    color: black;
}

.brand-name {
    text-align: center;
}